@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}


/* RIGHT → */
@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* LEFT ← */
@keyframes scrollLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply */
.animate-scroll-right {
  animation: scrollRight 10s linear infinite;
}

.animate-scroll-left {
  animation: scrollLeft 10s linear infinite;
}

/* Pause on hover */
.group:hover .pause {
  animation-play-state: paused;
}